<%- include('partials/header') %>

<div class="container-fluid">
  <div class="single-class-container">
    <div class="profile-card">
      <img src="./images/<%- deGenClass.deGen.avatarImg %>" class="user-img rounded-circle" alt="user-img">
      <p class="username">By <%- deGenClass.deGen.alias %></p>
    </div>
    <div class="class-content">
      <h2 class="class-title"><%- deGenClass.title %></h2>
      <p class="class-description">
        <%- deGenClass.shortDescription %>
      </p>
      <% for(let i=0; i < deGenClass.description.length ; i++) { %>
      <p><%- deGenClass.description[i] %></p>
      <% } %>
      <a href="#" class="class-external-link">
        <p>Did you like the content? Check out <%- deGenClass.deGen.alias %> website for more!</p>
      </a>
    </div>
  </div>
  <div class="comments-container mx-auto">
    <h2 class="mb-4"><%- deGenClass.comments.length %> Comments</h2>

    <table class="table">
      <% for(let i=0; i < deGenClass.comments.length; i++) { %>
      <tr>
        <td>
          <div class="comment-info-wrapper">
            <div class="comment-username">
              <span class="iconify" data-icon="mdi:account-circle" style="color: #6c757d;" data-width="24" data-height="24"></span>
              <h5 class="class-title mx-1"><%- deGenClass.comments[i].author %></h5>
            </div>
            <div class="comment-date">
              <p><%- deGenClass.comments[i].date.getDate()  + "-" + (deGenClass.comments[i].date.toLocaleString("en-us", { month: "short" })) + "-" + deGenClass.comments[i].date.getFullYear() %></p>
            </div>
          </div>
          <p class="class-description">
            <%- deGenClass.comments[i].content %>
          </p>
        </td>
      </tr>
      <% } %>
    </table>
    <h2 class="mb-4">Leave a comment</h2>
    <form class="new-comment-form" action="/new-comment" method="post">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="You username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
        <label for="floatingTextarea2">Leave a comment</label>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-light btn-lg  border-dark"></button>
      </div>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
