<%- include('partials/header') %>

<div class="container-fluid">
  <h1 class="classes-title">DeGen Shop</h1>
  <div class="classes-filters">
    <input class="form-control search-filter" type="text" name="searchQuery" placeholder="Search">
    <select class="form-select">
      <option selected>Sort by...</option>
      <% for(let i=0; i < filters.length ; i++) { %>
      <option value="<%- filters[i].value %>"><%- filters[i].content %> </option>
      <% } %>
    </select>
  </div>

  <div class="row shop-container row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">

    <% for(let i=0; i < shopItemArray.length ; i++) { %>
      <% let classes = ""; %>
      <% for (let j=0; j< filters.length ; j++) { %>
        <% if (shopItemArray[i].tags.includes(filters[j].content)) {%>
          <% classes = classes + " " + filters[j].value; %>
        <% } %>
      <% } %>

    <div class="col cardSelector <%- classes%>">
      <div class="card h-100 my-3 mx-auto" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="<%= (50*(i+1)) %>" data-aos-offset="0">
        <img src="../<%- shopItemArray[i].image %>" class="card-img-top" alt="...">
        <div class="card-body pb-0">
          <h5 class="card-title"><%- shopItemArray[i].title %></h5>
          <p class="card-text"><%- shopItemArray[i].content %></p>
          <p class="shop-price"><%- shopItemArray[i].price %></p>
          <p class="class-tags">Tags: <em><%- shopItemArray[i].tags.slice(0, -1).join(', ') + ", " + shopItemArray[i].tags.slice(-1)%></em></p>
        </div>
        <a class="text-secondary shop-item-link" href="<%- shopItemArray[i].link %>">See more</a>
      </div>
    </div>
    <% } %>
  </div>
</div>


<script src="shopFilter.js" charset="utf-8"></script>
<%- include('partials/footer') %>
